.titulo {

    font-size: 76px;

}

.robo-image {

    height: 100vh; /* 100% da altura da tela */
    width: 50vw; /* 50% da largura da tela */
    background-color: red; 

}

.login-container {

    height: 100vh; /* 100% da altura da tela */
    width: 50vw; /* 50% da largura da tela */
    background-color: green; 

    /* Kit da centralização */
    display: flex; /* Ativa o flex */
    flex-direction: column; /* Muda o flex para colunas */
    align-items: center; /* Centralizar horizontalmente */
    justify-content: center; /* Centralizar verticalmente */

}

.page-container {

    display: flex; /* um ao lado do outro */

}